.light-mode {
    background-color: #fff;
    color: #000;
  }
  
  .dark-mode {
    background-color: #000;
    color: #fff;
  }
  
  .theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
  }
  
  .fade-appear,
  .fade-enter {
    opacity: 0;
  }
  
  .fade-appear-active,
  .fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }