
    .category-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; /* Emulates shadow-2xl */
}

.category-card-img {
  transition: transform 0.5s ease;
}

.category-card:hover .category-card-img {
  transform: scale(1.1);
}

.gradient-overlay {
  background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.4), transparent);
}

.icon-backdrop {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
}
